{% extends 'base.html' %}
{% block content %}
<h1  text-align:center >The Purpose Principle</h1>
<hr>
<h3>SO THEN, HERE ARE THE FOUR QUESTIONS THAT MY HIGH SCHOOL GUIDANCE COUNSELLOR SHOULD HAVE ACTUALLY ASKED ME WHEN I TOLD HER WHAT I WANTED TO DO WITH MY LIFE.</h3>
<br>
<div>
<h5>Are you passionate about it?</h5>
<hr>

<h5>Are you good at it?</h5>
<hr>

<h5>Can you actually earn good money from it?</h5>
<hr>

<h5>Does the world need it?</h5>

</div>
<br>
</br>
<h4 class:"cd">Press Quiz button to answer questions</h4>
{% endblock %}